*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 100%;
  height: 100vh;
}

/*----------------------------
NAV
----------------------------*/

nav{
  width: 230px;
  height: calc(100% - 100px);
  background-color: #000000;
  float: left;
  font-size: 12px;
  color: #5E5E5E;
  padding: 15px 15px 0 15px;
  overflow: hidden;
}

.logo{
  width: 100%;
  margin-bottom: 40px;
}

.logo-small{
  display: none;
}

.logo > img{
  height: 40px;
}

nav span:hover, nav p:hover{
  color: #ffffff;
  cursor: pointer;
}

/* nav top */

.nav-top{
  margin-bottom: 20px;
}

.nav-icon{
  width: 30px;
  vertical-align: middle;
  margin: 5px;
}

.nav-item .nav-icon, .nav-item span{
  /* da rivedere il colore delle icone */
  margin-bottom: 10px;
}

.active{
  color: #ffffff;
  border-left: 3px solid limegreen;
  position: relative;
  top: 0;
  left: -15px;
  padding-left: 10px;
}

/* nav center */

.nav-center{
  height: calc(100% - 83px - 155px - 80px);
  /*
  83px = 43px height div.logo + 40px margin-bottom
  155px = 135px height div.nav-top +  20px margin-bottom
  80px = height div.nav-bottom
  */
  min-height: 320px;
}

.nav-center h4{
  margin-bottom: 10px;
  color: #ffffff;
}

.playlist-new{
  margin-bottom: 15px;
}

.playlist-new .fa-plus{
  color: black;
  background-color: #5E5E5E;
  padding: 10px;
  margin: 5px;
}

.playlist-new .fa-plus:hover{
  background-color: #ffffff;
  cursor: pointer;
}

.playlist-name{
  min-height: 200px;
  overflow: auto;  /* da rivedere overflow */
}

.playlist-name p{
  margin-bottom: 20px;
}

/* nav bottom */

.nav-bottom{
  height: 80px;
  background-color: #000000;
}

.download, .profile{
  padding: 5px 0;
}

.download{
  border-bottom: 1px solid #5E5E5E;
}

#download-icon{
  width: 15px;
  vertical-align: middle;
  margin: 5px;
}

#profile-icon{
  width: 25px;
  vertical-align: middle;
  background-color: #5E5E5E;
  border-radius: 50%;
  padding: 2px;
  margin: 5px;
}

.profile span{
  color: #ffffff;
  font-size: 14px;
}

/*----------------------------
HEADER
----------------------------*/

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 230px);
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  float: left;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999s;
  padding: 0 15px;
}

header button{
  font-weight: 700;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 12px 35px;
}

header button:hover{
  font-size: 16px;
  padding: 13px 36px;
  cursor: pointer;
}

/*----------------------------
MAIN
----------------------------*/

main{
  width: calc(100% - 230px);
  height: calc(100% - 100px);
  background-color: #10131A;
  float: left;
  padding: 100px 20px 20px 20px;
  overflow: auto;
}

.label{
  margin: 20px 0 40px 0;
}

.label ul{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.label ul li{
  font-size: 14px;
  color: #5E5E5E;
  margin: 0 15px 20px 15px;
}

.label ul li:hover{
  color: #ffffff;
  cursor: pointer;
}

.label ul li .line{
  height: 3px;
  width: 30px;
  background-color: limegreen;
  border-radius: 5px;
  margin: 2px auto;
}

/* first section */

.first-section, .second-section, .third-section{
  margin-bottom: 40px;
}

.first-section h2{
  color: #ffffff;
  margin-bottom: 30px;
}

.album-section, .artist-section{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.album-box, .artist-box{
  width: calc((100% / 6) - 20px);
  margin: 0 10px 20px 10px;
}

.album-box .image-box{
  position: relative;
}

.album-box img, .artist-box img{
  width: 100%;
}

.album-play{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 80px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.image-box:hover .album-play{
  opacity: 1;
  cursor: pointer;
}

.title, .subtitle{
  text-align: center;
  margin-top: 15px;
}

.title{
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.subtitle{
  font-size: 12px;
  color: #5E5E5E;
}

/* second section */

.second-section .section-title,
.third-section .section-title{
  color: #ffffff;
}

.second-section .section-subtitle,
.third-section .section-subtitle{
  font-size: 14px;
  color: #5E5E5E;
  margin: 10px 0 30px 0;
}

/* third section */

.artist-image{
  border-radius: 50%;
}

.artist-image:hover{
  cursor: pointer;
}

/*----------------------------
FOOTER
----------------------------*/

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  background-color: #1E1E1E;
  color: #5E5E5E;
  padding: 15px;
  float: left;
}

/* left */

.left{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.album-cover img{
  width: 50px;
}

.album-info p{
  margin-top: 0;
}

.album-info .title, .album-info .track{
  text-align: left;
  margin-left: 10px;
  margin-right: 30px;
}

.album-info .title{
  font-size: 12px;
  color: #ffffff;
}

.album-info .track{
  font-size: 10px;
}

.album-info .track:hover{
  text-decoration: underline;
}

.album-share .like, .album-share .save{
  display: inline-block;
}

.like, .save{
  font-size: 14px;
  margin: 5px;
}

.like:hover, .save:hover{
  color: #ffffff;
  cursor: pointer;
}

/* center */

.center{
  width: 60%;
}

.center .top{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.center .top i{
  margin: 0 10px;
  cursor: pointer;
}

.center .top .fa-play-circle{
  font-size: 30px;
  margin: 0 20px;
}

.center .top .fa-play-circle:hover{
  font-size: 35px;
}

.center .bottom{
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-count, .end-count{
  font-size: 10px;
  color: #ffffff;
}

.start-count{
  margin-right: 20px;
}

.end-count{
  margin-left: 20px;
}

.center .bottom .trackline-back{
  height: 5px;
  width: 80%;
  background-color: #5E5E5E;
  border-radius: 5px;
}

.center .bottom .trackline-front{
  height: 5px;
  width: 20%;
  background-color: #A3A3A3;
  border-radius: 5px;
  position: relative;
}

.center .bottom .fa-circle{
  display: none;
}

.center .bottom .trackline-front:hover{
  background-color: limegreen;
}

.center .bottom .trackline-front:hover .fa-circle{
  display: block;
  color: #ffffff;
  position: absolute;
  top: -5px;
  right: 0;
  cursor: pointer;
}

/* right */

.right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.right i{
  font-size: 14px;
  color: #ffffff;
  margin-right: 15px;
  cursor: pointer;
}

.right .trackline-back{
  height: 5px;
  width: 100px;
  background-color: #5E5E5E;
  border-radius: 5px;
}

.right .trackline-front{
  height: 5px;
  width: 50%;
  background-color: #A3A3A3;
  border-radius: 5px;
  position: relative;
}

.right .trackline-front .fa-circle{
  display: none;
}

.right .trackline-front:hover{
  background-color: limegreen;
}

.right .trackline-front:hover .fa-circle{
  display: block;
  color: #ffffff;
  position: absolute;
  top: -5px;
  right: -20px;
}


/*=============================================================
MEDIA QUERY
=============================================================*/

/*----------------------------
MD BREAKPOINT
----------------------------*/
@media screen and (max-width: 1200px) and (min-width: 768px){

  .logo-small{
    display: none;
  }

  .album-box, .artist-box{
    width: calc((100% / 4) - 20px);
  }

}

/*----------------------------
S BREAKPOINT
----------------------------*/
@media screen and (max-width: 767px) and (min-width: 576px){

  .logo-small{
    display: none;
  }

  .album-box, .artist-box{
    width: calc((100% / 2) - 20px);
  }

  .album-share .like, .album-share .save{
    display: block;
  }

  footer .center{
    width: 30%;
  }

  footer .album-cover img{
    width: 30px;
  }

}

/*----------------------------
XS BREAKPOINT
----------------------------*/
@media screen and (max-width: 575px){

  /* NAV */

  nav{
    width: 70px;
    padding: 5px 15px;
  }

  /* nav top */

  .logo{
    margin-bottom: 20px;
  }

  .logo-normal{
    display: none;
  }

  .logo-small{
    display: block;
  }

  nav span, nav p{
    display: none;
  }

  nav .nav-top{
    height: calc(100% - 60px - 80px);
    margin-bottom: 0;
  }

  nav .nav-top .active{
    border: none;
    padding: 0;
    position: initial;
  }

  /* nav center */

  nav .nav-center{
    display: none;
  }

  /* nav bottom */

  nav .nav-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav .nav-bottom .download{
    border: none;
  }

  /* HEADER */

  header{
    width: calc(100% - 70px);
  }

  /* MAIN */

  main{
    width: calc(100% - 70px);
    padding: 100px 20px 20px 20px;
    overflow: auto;
  }

  .label{
    margin: 20px 0 40px 0;
  }
  
  .album-box, .artist-box{
    width: calc((100% / 2) - 20px);
  }
  
  /* FOOTER */

  .album-cover img{
    width: 30px;
  }

  .album-info .title, .album-info .track{
    margin-left: 10px;
    margin-right: 10px;
  }

  .album-share .like, .album-share .save{
    display: block;
  }

  footer .center{
    width: 30%;
  }

  .center .top i{
    font-size: 12px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .center .top .fa-play-circle{
    font-size: 25px;
    margin: 0 20px;
  }
  
  .center .top .fa-play-circle:hover{
    font-size: 30px;
  }

  .right i{
    font-size: 12px;
  }

}
